* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../assets/logo/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png),
    lightgray 50% / cover no-repeat;
  padding-top: 40px;
  padding-bottom: 200px;
}

.LogoSite {
  width: 200px;
  margin-left: 50px;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd15b;
  font-weight: 400;
  font-size: 44px;
  font-family: Anton;
  text-align: center;
  width: 60%;
  margin-top: 150px;
}

/*  Search Bar */

.SearchBar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.SearchBar input {
  border-radius: 10px;
  width: 760px;
  height: 50px;
  padding: 0 60px 0 30px;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SearchBar i {
  position: absolute;
  background-color: #1b1b1b;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  right: 10px;
  color: white;
}
